{% extends 'portal/portal' %}
{% block appStylos %}
  <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">
{% endblock %}
{% block appBody %}
    <section class="content-header">
        <h1>
            Despacho
            <small>Listado de Estados</small>

          <a class="btn btn-primary btn-social pull-right" href="despacho/nuevo_estado" title="Agregar" data-toggle="tooltip">
            <i class="fa fa-plus"></i> Agregar
          </a>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-body">
            <table id="dataTables1" class="table table-bordered">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Ubicacion</th>
                  <th>Descripcion</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for d in estado_db if false != estado_db %}
                  <tr>
                    <td>{{ d.id_estado }}</td>
                    <td>{{ d.ubicacion }}</td>
                    <td>{{ d.descripcion }}</td>

                    <td class='center' width='80'>
                      <a data-toggle='tooltip' data-placement='top' title='Modificar' class='btn btn-success btn-sm' href="despacho/editar_estado/{{ d.id_estado }}">
                      <i class='glyphicon glyphicon-edit'></i>
                      </a>

                      {% if d.estado == 0 %}
                          <a data-toggle='tooltip' data-placement='top' title='Bloqueado' class='btn btn-warning btn-sm' href="despacho/estado_estado/{{ d.id_estado }}">
                          <i class='glyphicon glyphicon-off'></i>
                          </a>

                      {% else %}
                          <a data-toggle='tooltip' data-placement='top' title='Activo' class='btn btn-danger btn-sm' href="despacho/estado_estado/{{ d.id_estado }}">
                          <i class='glyphicon glyphicon-check'></i>
                          </a>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

{% endblock %}
{% block appScript %}
    <!-- DATA TABES SCRIPT -->
    <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>

    <script src="views/app/js/despacho/despacho.js"></script>

    <script>
        $("#dataTables1").dataTable({
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No hay datos para mostrar",
                "info":"Mostrando _END_ Registros, de un total de _TOTAL_ ",
                "loadingRecords": "Cargando...",
                "processing":"Procesando...",
                "infoEmpty":"No hay entradas para mostrar",
                "lengthMenu": "Mostrar _MENU_ Filas",
                "paginate":{
                  "first":"Primera",
                  "last":"Ultima",
                  "next":"Siguiente",
                  "previous":"Anterior",
                }
                          },
            "autoWidth": true,
            "scrollX": true
        });
    </script>

{% endblock %}
