{% extends 'portal/portal' %}
{% block appStylos %}
  <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">
{% endblock %}
{% block appBody %}
    <section class="content-header">
        <h1>
            Confirmación
            <small>Listado de Motivos de llamado</small>

          <a class="btn btn-primary btn-social pull-right" href="confirmacion/nuevo_motivocall" title="Agregar" data-toggle="tooltip">
            <i class="fa fa-plus"></i> Agregar
          </a>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-body">
            <table id="dataTables1" class="table table-bordered">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Motivo de llamado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% set No = 1 %}
                {% for d in motivocall_db if false != motivocall_db %}
                  <tr>
                    <td>{{ No }}</td>
                    <td>{{ d.motivo }}</td>
                    <td class='center' width='80'>
                      <a data-toggle='tooltip' data-placement='top' title='Modificar' class='btn btn-success btn-sm' href="confirmacion/editar_motivocall/{{ d.id_motivo }}">
                      <i class='glyphicon glyphicon-edit'></i>
                      </a>

                      {% if d.estado == 0 %}
                          <a data-toggle='tooltip' data-placement='top' title='Bloqueado' class='btn btn-warning btn-sm' href="confirmacion/estado_motivocall/{{ d.id_motivo }}">
                          <i class='glyphicon glyphicon-off'></i>
                          </a>
                      {% else %}
                          <a data-toggle='tooltip' data-placement='top' title='Activo' class='btn btn-danger btn-sm' href="confirmacion/estado_motivocall/{{ d.id_motivo }}">
                          <i class='glyphicon glyphicon-check'></i>
                          </a>
                      {% endif %}

                    </td>
                  </tr>
                  {% set No =  No + 1 %}
                {% endfor %}
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

{% endblock %}
{% block appScript %}
    <!-- DATA TABES SCRIPT -->
    <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>

    <script src="views/app/js/confirmacion/confirmacion.js"></script>

    <script>
     $("#dataTables1").dataTable({
                "language": {
                    "search": "Buscar:",
                    "zeroRecords": "No hay datos para mostrar",
                    "info":"Mostrando _END_ Registros, de un total de _TOTAL_ ",
                    "loadingRecords": "Cargando...",
                    "processing":"Procesando...",
                    "infoEmpty":"No hay entradas para mostrar",
                    "lengthMenu": "Mostrar _MENU_ Filas",
                    "paginate":{
                      "first":"Primera",
                      "last":"Ultima",
                      "next":"Siguiente",
                      "previous":"Anterior",
                    }
                              },
                "autoWidth": true,
                "scrollX": true
            });
    </script>

{% endblock %}
