{% extends 'portal/portal' %}
{% block appBody %}
    <section class="content-header">
        <h1>
            Confirmación
            <small>Programación Nielsen</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-home"></i>
                    Home</a>
            </li>
            <li>
                <a href="confirmacion/listar_ordenes">Listado de Ordenes</a>
            </li>
            <li class="active">Modificar Registro</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <form id="formmodorden" name="formmodorden">
            <div id="mod_ot" name="mod_ot" class="row">
                <div class="col-xs-6">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Modificar Orden</h3>
                        </div>
                        <div class="box-body">
                            <div class="col-md-4">
                                <label>ID Orden:</label><input type="text" name="textmodidorden" id="textmodidorden" class="form-control" value="{{db_modorden.n_orden}}" readonly="readonly">
                            </div>
                            <div class="col-md-4">
                                <label>Rut Cliente:</label><input type="text" name="textmodrutcliente" id="textmodrutcliente" class="form-control" value="{{db_modorden.rut_cliente}}">
                            </div>
                            <div class="col-md-4">
                                <label>Fecha OT:</label><input type="date" name="fechaot" id="fechaot" class="form-control" value="{{db_modorden.fecha_ot}}">
                            </div>
                            <!-- <div class="col-md-4"> <label>Reg:</label><input type="text" name="textmodreg" id="textmodreg" class="form-control" value="{{db_modorden.reg}}"> </div> -->
                            <div class="col-md-8">
                                <label>Ejecutivo:</label><input type="text" name="textuser" id="textuser" class="form-control" value="{{ db_modorden.name}}" readonly="readonly">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="bloque_ot" name="bloque_ot" class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">BLOQUE FLUJO</h3>
                        </div>
                        <div class="box-body">
                            {% for b in db_bloque if false != db_bloque %}
                                {% if b.bloque == db_modorden.bloque_flujo %}
                                    <div class="col-xs-3" style="border: 1px solid white">
                                        <label><input type="radio" name="rbbloque__flujo" onchange="bloque_flujo('{{b.bloque}}')" id="rbbloque__flujo-{{b.bloque}}" checked="checked">
                                            <font size="4">{{b.bloque}}</font>
                                        </label>
                                    </div>
                                {% else %}
                                    <div class="col-xs-3" style="border: 1px solid white">
                                        <label><input type="radio" name="rbbloque__flujo" onchange="bloque_flujo('{{b.bloque}}')" id="rbbloque__flujo-{{b.bloque}}">
                                            <font size="4">{{b.bloque}}</font>
                                        </label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="box-footer">
                            <div class="col-md-3" style="border: 1px solid white">
                                <label>Fecha Compromiso:</label><input type="date" name="textfecha_flujo" min="{{ " now"|date("="now" |date("" y-m-d")="|date("" y-m-d")" }}"=" y-m-d") }}"="Y-m-d") }}"" " id=" textfecha_flujo" class=" form-control" value=" {{db_modorden.fecha_compromiso_flujo}} ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="reage" name="reage" class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">REAGENDAMIENTOS</h3>
                        </div>
                        <div class="box-body">
                            {% for i in 1..20 %}
                                {% if i == db_modorden.reagendamiento %}
                                    <div class="col-xs-1" style="border: 1px solid white">
                                        <label><input type="radio" name="reag" id="reag-{{i}}" onchange="cargarreag('{{i}}')" checked="checked">
                                            {{i}}</label>
                                    </div>
                                {% else %}
                                    <div class="col-xs-1" style="border: 1px solid white">
                                        <label><input type="radio" name="reag" id="reag-{{i}}" onchange="cargarreag('{{i}}')">
                                            {{i}}</label>
                                    </div>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="modmotivo" name="modmotivo" class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">MOTIVO DEL LLAMADO</h3>
                        </div>
                        <div class="box-body">
                            {% for m in db_motivo if false != db_motivo %}
                                {% if m.motivo == db_modorden.motivo %}
                                    <div class="col-xs-2" style="border: 1px solid white">
                                        <label><input type="radio" name="rbmodmotivo" id="{{m.motivo}}" onchange="cargarmodmot('{{m.motivo}}')" checked="checked">
                                            {{m.motivo}}</label>
                                    </div>
                                {% else %}
                                    <div class="col-xs-2" style="border: 1px solid white">
                                        <label><input type="radio" name="rbmodmotivo" id="{{m.motivo}}" onchange="cargarmodmot('{{m.motivo}}')">
                                            {{m.motivo}}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="modcomuna" name="modcomuna" class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">COMUNA</h3>
                        </div>
                        <div class="box-body">
                            {% for c in db_comuna if false != db_comuna %}
                                {% if c.nombre == db_modorden.comuna %}
                                    <div class="col-xs-2" style="border: 1px solid white">
                                        <label><input type="radio" name="rbmodcomuna" id="{{c.nombre}}" onchange="cargarmodcom('{{c.nombre}}')" checked="checked">
                                            {{c.nombre}}</label>
                                    </div>
                                {% else %}
                                    <div class="col-xs-2" style="border: 1px solid white">
                                        <label><input type="radio" name="rbmodcomuna" id="{{c.nombre}}" onchange="cargarmodcom('{{c.nombre}}')">
                                            {{c.nombre}}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="col-xs-2" style="border: 1px solid white">
                                <label>NODO:<input type="number" min='1' name="textmodnodo" id="textmodnodo" class="form-control" placeholder="NODO" value="{{db_modorden.nodo}}"></label>
                            </div>
                            <div class="col-xs-2" style="border: 1px solid white">
                                <label>SUBNODO:<input type="number" min='1' name="textmodsubnodo" id="textmodsubnodo" class="form-control" placeholder="SUBNODO" value="{{db_modorden.subnodo}}"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tipoorden" name="tipoorden" class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">TIPO DE ORDEN</h3>
                        </div>
                        <div class="box-body">
                            {% for r in db_tipoorden if false != db_tipoorden %}
                                {% if db_modorden.tipoorden == r.id_tipoorden %}
                                    <div class="col-xs-3" style="border: 1px solid white">
                                        <label><input type="radio" name="rmodtipoorden" id="{{r.descripcion}}" onchange="cargarmodtipoorden('{{r.id_tipoorden}}')" checked="checked">
                                            {{r.descripcion}}</label>
                                    </div>
                                {% else %}
                                    <div class="col-xs-3" style="border: 1px solid white">
                                        <label><input type="radio" name="rmodtipoorden" id="{{r.descripcion}}" onchange="cargarmodtipoorden('{{r.id_tipoorden}}')">
                                            {{r.descripcion}}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="modactividad" name="modactividad" class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">ACTIVIDAD</h3>
                        </div>
                        <div class="box-body">
                            {% for a in db_actividad if false != db_actividad %}
                                {% if a.actividad == db_modorden.actividad %}
                                    <div class="col-xs-3" style="border: 1px solid white">
                                        <label><input type="radio" name="rbmodactividad" id="{{a.actividad}}" onchange="cargarmodact('{{a.actividad}}')" checked="checked">
                                            {{a.actividad}}</label>
                                    </div>
                                {% else %}
                                    <div class="col-xs-3" style="border: 1px solid white">
                                        <label><input type="radio" name="rbmodactividad" id="{{a.actividad}}" onchange="cargarmodact('{{a.actividad}}')">
                                            {{a.actividad}}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="modresultado" name="modresultado" class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">RESULTADO</h3>
                        </div>
                        <div class="box-body">
                            <table id="tabla" name="tabla" class="table-bordered">
                                {% for r in db_resultado if false != db_resultado %}
                                    {% if r.id_resultado == db_modorden.resultado %}
                                        <div class="col-xs-4" style="border: 1px solid white">
                                            <label><input type="radio" name="rbmodresultado" id="{{r.id_resultado}}" onchange="cargarmodres('{{r.id_resultado}}')" checked="checked">
                                                {{r.nombre}}</label>
                                        </div>
                                    {% else %}
                                        <div class="col-xs-4" style="border: 1px solid white">
                                            <label><input type="radio" name="rbmodresultado" id="{{r.nombre}}" onchange="cargarmodres('{{r.id_resultado}}')">
                                                {{r.nombre}}</label>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modbloque" name="modbloque" class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">BLOQUE</h3>
                        </div>
                        <div class="box-body">
                            {% for b in db_bloque if false != db_bloque %}
                                {% if b.bloque == db_modorden.bloque %}
                                    <div class="col-xs-3" style="border: 1px solid white">
                                        <label><input type="radio" name="rbmodbloque" onchange="cargarmodblo('{{b.bloque}}')" id="{{b.bloque}}" checked="checked">
                                            <font size="4">{{b.bloque}}</font>
                                        </label>
                                    </div>
                                {% else %}
                                    <div class="col-xs-3" style="border: 1px solid white">
                                        <label><input type="radio" name="rbmodbloque" onchange="cargarmodblo('{{b.bloque}}')" id="{{b.bloque}}">
                                            <font size="4">{{b.bloque}}</font>
                                        </label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="box-footer">
                            <div class="col-md-3" style="border: 1px solid white">
                                <label>Fecha Compromiso:</label><input type="date" name="textmodfecha" id="textmodfecha" class="form-control" value="{{db_modorden.fecha_compromiso}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="observacion" name="observacion" class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">OBSERVACIÓN</h3>
                        </div>
                        <div class="box-body">
                            <font size="4"><input type="text" name="textmodobservacion" id="textmodobservacion" placeholder="Ingrese una observacion correspondiente a la orden" class="form-control" value="{{db_modorden.observacion}}"></font>
                        </div>
                    </div>
                </div>
            </div>

            <a data-toggle='tooltip' data-placement='top' name="modbtningresar" id="modbtningresar" class='btn btn-success btn-sm'>Modificar Orden
            </a>
            <input type="hidden" name="textmodactividad" id="textmodactividad" value="{{ db_modorden.actividad }}">
            <input type="hidden" name="textmodtipoorden" id="textmodtipoorden" value="{{ db_modorden.tipoorden }}">
            <input type="hidden" name="textmodbloque" id="textmodbloque" value="{{ db_modorden.bloque }}">
            <input type="hidden" name="textmodmotivo" id="textmodmotivo" value="{{ db_modorden.motivo }}">
            <input type="hidden" name="textmodcomuna" id="textmodcomuna" value="{{ db_modorden.comuna }}">
            <input type="hidden" name="textmodresultado" id="textmodresultado" value="{{ db_modorden.resultado }}">
            <input type="hidden" name="textmodid" id="textmodid" value="{{ db_modorden.operador }}">
            <input type="hidden" name="ordenid" id="ordenid" value="{{ db_modorden.id_orden }}">
            <input type="hidden" name="reagendamiento" id="reagendamiento" value="{{ db_modorden.reagendamiento }}">
            <input type="hidden" name="textbloque_flujo" id="textbloque_flujo" value="{{ db_modorden.bloque_flujo }}">

        </div>
    </form>
</section>
{% endblock %}
{% block appScript %}
<script src="views/app/js/confirmacion/confirmacion.js"></script>
<script type="text/javascript">
    window.onload = function () {
        document.formmodorden.textmodidorden.focus()
    }
</script>
{% endblock %}