{% extends 'portal/portal' %}
{% block appBody %}
<section class="content-header">
    <h1>
        Confirmación
        <small>Programación Nielsen</small>
    </h1>
    <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="confirmacion/listar_ordenes">Listado de Ordenes</a></li>
    <li class="active">Nuevo Registro</li>
    </ol>
</section>
  <!-- Main content -->
<section class="content">
    <form id="formorden" name="formorden">
        <div id="datos_ot" name="datos_ot" class="row">
            <div class="col-xs-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Ingrese datos de la Orden</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label>ID Orden:</label><input type="text" name="textidorden" id="textidorden" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label>Rut Cliente:</label><input type="text" name="textrutcliente" id="textrutcliente" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label>Fecha OT:</label><input type="date" name="fechaot" id="fechaot" class="form-control" value="{{ "now"|date("Y-m-d") }}">
                            </div>
                        </div>

                        <!-- <div class="col-md-4">
                            <label>Reg:</label><input type="text" name="textreg" id="textreg" class="form-control" value="">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div id="bloque_ot" name="bloque_ot" class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">BLOQUE FLUJO</h3>
                    </div>
                    <div class="box-body">
                        {% for b in db_bloque if false != db_bloque %}
                            <div class="col-xs-3" style="border: 1px solid white">
                                <label><input type="radio" name="rbbloque__flujo" id="rbbloque__flujo-{{b.bloque}}" onchange="bloque_flujo('{{b.bloque}}')" >
                                <font size="4">{{b.bloque}}</font></label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="box-footer">
                        <div class="col-md-3" style="border: 1px solid white">
                            <label>Fecha Compromiso:</label><input type="date" name="textfecha_flujo" min="{{ "now"|date("Y-m-d") }}" id="textfecha_flujo" class="form-control" value="{{ "now"|date("Y-m-d") }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="reage" name="reage" class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">REAGENDAMIENTOS</h3>
                    </div>
                    <div class="box-body">
                    {% for i in 1..20 %}
                        <div class="col-xs-1" style="border: 1px solid white">
                            <label><input type="radio" name="reag" id="reag-{{i}}" onchange="cargarreag('{{i}}')">
                            {{i}}</label>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="motivocall" name="motivocall" class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">MOTIVO DEL LLAMADO</h3>
                    </div>
                    <div class="box-body">
                        {% for m in db_motivo if false != db_motivo %}
                            <div class="col-xs-2" style="border: 1px solid white">
                                <label><input type="radio" name="rbmotivo" id="{{m.motivo}}" onchange="cargarmot('{{m.motivo}}')">
                                {{m.motivo}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="comunas" name="comuna" class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">COMUNA</h3>
                    </div>
                    <div class="box-body">
                        {% for c in db_comuna if false != db_comuna %}
                            <div class="col-xs-2" style="border: 1px solid white">
                                <label><input type="radio" name="rbcomuna" id="{{c.nombre}}" onchange="cargarcom('{{c.nombre}}')">
                                {{c.nombre}}</label>
                            </div>
                        {% endfor %}
                        <div class="col-xs-2" style="border: 1px solid white">
                            <label>NODO:<input type="number" min='1' name="textnodo" id="textnodo" class="form-control" placeholder="NODO"></label>
                        </div>
                        <div class="col-xs-2" style="border: 1px solid white">
                            <label>SUBNODO:<input type="number" min='1' name="textsubnodo" id="textsubnodo" class="form-control" placeholder="SUBNODO" value="0"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tipoorden" name="tipoorden" class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">TIPO DE ORDEN</h3>
                    </div>
                    <div class="box-body">
                        {% for r in db_tipoorden if false != db_tipoorden %}
                            <div class="col-xs-3" style="border: 1px solid white">
                                <label><input type="radio" name="rtipoorden" id="{{r.descripcion}}" onchange="cargartipoorden('{{r.id_tipoorden}}')">
                                {{r.descripcion}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="actividad" name="actividad" class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">ACTIVIDAD</h3>
                    </div>
                    <div class="box-body">
                        {% for a in db_actividad if false != db_actividad %}
                            <div class="col-xs-3" style="border: 0px solid white">
                                <label><input type="radio" name="rbactividad" id="{{a.actividad}}" onchange="cargaract('{{a.actividad}}')">
                                {{a.actividad}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="resultado" name="resultado" class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">RESULTADO</h3>
                    </div>
                    <div class="box-body">
                        {% for r in db_resultado if false != db_resultado %}
                            <div class="col-xs-4" style="border: 1px solid white">
                                <label><input type="radio" name="rbresultado" id="{{r.nombre}}" onchange="cargarres('{{r.id_resultado}}','{{r.cumplimiento}}')">
                                {{r.nombre}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="bloque" name="bloque" class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">BLOQUE NUEVO</h3>
                    </div>
                    <div class="box-body">
                        {% for b in db_bloque if false != db_bloque %}
                            <div class="col-xs-3" style="border: 1px solid white">
                                <label><input type="radio" name="rbbloque" id="{{b.bloque}}" onchange="cargarblo('{{b.bloque}}')" >
                                <font size="4">{{b.bloque}}</font></label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="box-footer">
                        <div class="col-md-3" style="border: 1px solid white">
                            <label>Fecha Compromiso:</label><input type="date" name="textfecha" min="{{ "now"|date("Y-m-d") }}" id="textfecha" class="form-control" value="{{ "now"|date("Y-m-d") }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="observacion" name="observacion" class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">OBSERVACIÓN</h3>
                    </div>
                    <div class="box-body">
                        <font size="4"><input type="text" name="textobservacion" id="textobservacion" placeholder="Ingrese una observacion correspondiente a la orden" class="form-control" value=""></font>
                    </div>
                </div>
            </div>
        </div>

        <a data-toggle='tooltip' data-placement='top' name="btningresar" id="btningresar" class='btn btn-success btn-sm'>Ingresar Orden
        </a>

        <input type="hidden" name="textactividad" id="textactividad">
        <input type="hidden" name="textbloque" id="textbloque">
        <input type="hidden" name="textmotivo" id="textmotivo">
        <input type="hidden" name="textcomuna" id="textcomuna">
        <input type="hidden" name="textresultado" id="textresultado">
        <input type="hidden" name="texttipoorden" id="texttipoorden">
        <input type="hidden" name="reagendamiento" id="reagendamiento">
        <input type="hidden" name="textid" id="textid" value="{{ owner_user['id_user'] }}">
        <input type="hidden" name="textbloque_flujo" id="textbloque_flujo">
    </form>
</section>
{% endblock %}
{% block appScript %}
  <script src="views/app/js/confirmacion/confirmacion.js"></script>
    <script type="text/javascript">
        window.onload= function(){
            document.formorden.textidorden.focus()
        }
    </script>
{% endblock %}
