{% extends 'portal/portal' %}
{% block appStylos %}
  <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}
{% block appBody %}
  <section class="content-header">
    <h4>
      <i class="fa fa-user"></i>
      GESTION DE HORAS EXTRA
    
  </h4>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-body">
          <table id="dataTables1" class="table table-bordered">
            <thead>
              <tr>
                <th>Peticion Creada</th>
                <th>Fecha solicitada</th>
                <th>Hora desde</th>
                <th>Hora hasta</th>
                <th>Motivo</th>
                <th>Estado</th>
                <th>OPCIONES</th>
              </tr>
            </thead>
            <tbody>
              {% set No = 1 %}
              {% for d in horas_extras if false != horas_extras %}
                {% if owner_user['id_user'] == d.id_user %}
                  <tr>
                    <td>{{ d.fecha_creacion }}</td>
                    <td>{{ d.fecha_solicitud }}</td>
                    <td>{{ d.hora_desde }}</td>
                    <td>{{ d.hora_hasta }}</td>
                    <td>{{ d.motivo_solicitud }}</td>
                    <td>{{ d.estado }}</td>
                    <td class='center' width='150'>
                      {% if d.estado == "Pendiente" %}
                        <button type="button" id="btn_revisar" title='Revisar' class="btn btn-success btn-sm" data-toggle="modal" onclick="modal_responder_solicitud('{{ d.id_enc_hx }}')">
                          <i class='glyphicon glyphicon-eye-open'></i>
                        </button>
                      </a>
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
              {% set No = No + 1 %}
            {% endfor %}
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
</div>
</section>
{% include 'rrhh/horasextra/mostrar_hora_extra' %}
{% endblock %}

{% block appScript %}
{% include 'rrhh/horasextra/datatables_opciones' %}
{% endblock %}
