{% extends 'portal/portal' %}
{% block appStylos %}
    <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">
    <style media="screen">
        .at {
            display: none;
        }
    </style>
{% endblock %}
{% block appBody %}
    <section class="content-header">
        <h1>
            Casilleros
            <small>Casilleros Registrados por Ejecutivo</small>

            <a class="btn btn-success btn-social pull-right" id="exportar" href="casilleros/exportar" title="Exportar" data-toggle="tooltip">
                <i class="fa fa-plus"></i>
                Exportar a Excell
            </a>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-3"></div>
            <form id="form_fecha" name="form_fecha">
                <div class="col-md-3">
                    <h3>Fecha inicio:
                        <input type="date" id="fechaI" name="fechaI" class="form-control" value="{{ fecha }}"></h3>
                </div>
                <div class="col-md-3">
                    <h3>Fecha Fin:
                        <input type="date" id="fechaF" name="fechaF" class="form-control" value="{{ fecha }}"></h3>
                </div>
            </form>
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <table id="dataordenes" name="dataordenes" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>N°Orden</th>
                                    <th>Rut Cliente</th>
                                    <th>Comuna</th>
                                    <th>Actividad</th>
                                    <th>Accion</th>
                                    <th>Casillero</th>
                                    <th>Observacion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, t in casilleros if false != casilleros %}
                                    <tr>
                                        <td>{{ key + 1 }}</td>
                                        <td>{{ t.n_orden }}</td>
                                        <td>{{ t.rut }}</td>
                                        <td>{{ t.descripcion }}</td>
                                        <td>{{ t.actividad }}</td>
                                        <td>{{ t.accion }}</td>
                                        <td>{{ t.casillero }}</td>
                                        <td >{{t.observacion}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block appScript %}

    <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="views/app/js/casilleros/casilleros.js"></script>
    <script>
        $("#dataordenes").dataTable({
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No hay datos para mostrar",
                "info": "Mostrando _END_ Registros, de un total de _TOTAL_ ",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "infoEmpty": "No hay entradas para mostrar",
                "lengthMenu": "Mostrar _MENU_ Filas",
                "paginate": {
                    "first": "Primera",
                    "last": "Ultima",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "autoWidth": true,
            "scrollX": true,
            "bSort": false
        });
    </script>
{% endblock %}
