{% extends 'portal/portal' %}
{% block appStylos %}

{% endblock %}
{% block appBody %}
<section class="content-header">
  <h4>
    <i class="fa fa-user icon-title"></i> Perfil Asignado a <strong>{{ db_users.name|raw|upper }}</strong>
  </h4>
  <ol class="breadcrumb">
    <li><a href="portal"><i class="fa fa-home"></i> Home </a></li>
    <li><a href="administracion/usuario"> Usuarios </a></li>
    <li class="active"> Perfil Asignado a {{ db_users.name|raw|upper }} </li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-body">
          <div class="box-body col-sm-4"></div>
          <div class="box-body col-sm-4">
            <form id="form_user_perfil" name="form_user_perfil" role="form" method="POST" enctype="multipart/form-data">
              <div class="panel-footer text-center">
                <button type="button" id='update_perfil_user' class="btn btn-sm btn-success"><i class="glyphicon glyphicon-refresh"></i> Actualizar datos</button>
              </div>
              <input type='hidden' name='id_user' id='id_user' value='{{ db_users.id_user }}'>
              {% set id = 0 %}
              {% set cont = 0 %}
              <ul>
              {% for m in db_all_menu if false != db_all_menu %}

                  {% if id != m.id_menu %}
                      {% if cont >= 1 %}
                      </ul>
                  </li>
                      {% endif %}
                  <li>
                      <i class='fa {{ m.glyphicon }}'></i>
                          <span>
                          {{ m.menu|raw|convert_encoding('UTF-8', 'ISO-8859-1')|upper }}
                          </span>
                      <ul>
                  {% endif %}
                          <li>
                            <div class="checkbox">
                              <label>
                                {% set flat = 0 %}
                                {% for mu in db_menu_user if false != db_menu_user %}
                                  {% if m.id_menu == mu.id_menu and m.id_submenu == mu.id_submenu %}
                                    {% set flat = 1 %}
                                    <input name="{{ '%s%s%s%s%s'|format('check','-',m.id_menu,'-',m.id_submenu) }}" type="checkbox" id="{{ '%s%s%s%s%s'|format('check','-',m.id_menu,'-',m.id_submenu) }}" checked='checked'>
                                  {% endif %}
                                {% endfor %}
                                {% if flat == 0 %}
                                  <input name="{{ '%s%s%s%s%s'|format('check','-',m.id_menu,'-',m.id_submenu) }}" type="checkbox" id="{{ '%s%s%s%s%s'|format('check','-',m.id_menu,'-',m.id_submenu) }}">
                                {% endif %}
                                {{ m.submenu|raw|convert_encoding('UTF-8', 'ISO-8859-1')|upper }}
                              </label>
                            </div>
                          </li>

                  {% set id=m.id_menu %}
                  {% set cont =  cont + 1 %}
              {% endfor %}
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-footer">
  </div><!-- /.box footer -->
</section>
{% endblock %}
{% block appScript %}

    <script src="views/app/js/administracion/administracion.js"></script>

{% endblock %}
