{% extends 'portal/portal' %}
{% block appStylos %}
  <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">
{% endblock %}
{% block appBody %}
<div class="row">
  <div class="col-md-12">
      <section class="content-header">
          <h4>
            <i class="fa fa-user"></i> GESTIÓN DE USUARIOS

            <a class="btn btn-danger btn-social pull-right" href="administracion/generar_pdf_users" target="_blank" title="Generar PDF" data-toggle="tooltip">
              <i class="fa fa-arrow-down"></i> Generar PDF
            </a>

            <a class="btn btn-success btn-social pull-right" href="administracion/exporta_excel_users" title="Exportar a Excel" data-toggle="tooltip">
              <i class="fa fa-arrow-down"></i> Exportar Excel
            </a>

            <a class="btn btn-primary btn-social pull-right" href="administracion/registro_user" title="Agregar" data-toggle="tooltip">
              <i class="fa fa-plus"></i> Agregar
            </a>

          </h4>
      </section>
  </div>
</div>

  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-body">
          <table id="dataTables1" class="table table-bordered">
            <thead>
              <tr>
                <th>No</th>
              	<th>Nombre</th>
                <th>Rut Trabajador</th>
              	<th>E-Mail</th>
                <th>Fono</th>
                <th>Cargo</th>
                <th>PERFIL</th>
              	<th>ROL</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% set No = 1 %}
              {% for d in db_users if false != db_users %}
                <tr>
                  <td>{{ No }}</td>
                  <td>{{ d.name|raw|title }}</td>
                  <td>{{ d.rut_personal  }}</td>
                  <td>{{ d.email }}</td>
                  <td>{{ d.fono }}</td>
                  <td>{{ d.cargo }}</td>
                  <td>{{ d.perfil  }}</td>
                  <td>{{ d.rol ? "Admin":"Usuario"  }}</td>
                  <td class='center' width='150'>
                    <a data-toggle='tooltip' data-placement='top' title='Modificar' class='btn btn-success btn-sm' href="administracion/editar_user/{{ d.id_user }}">
                    <i class='glyphicon glyphicon-edit'></i>
                    </a>
                    <button type="button" id="btn_reset_pass" title='Reset Pass' class="btn btn-info btn-sm" data-toggle="modal" onclick="carga_modal_reset_pass('{{ d.id_user }}')"><i class='glyphicon glyphicon-cog'></i></button>
                    <a data-toggle='tooltip' data-placement='top' title='Revisar Perfil de accesos' class='btn btn-info btn-sm' href="administracion/editar_perfil_user/{{ d.id_user }}">
                    <i class='glyphicon glyphicon-list-alt'></i>
                    </a>
                    {% if d.estado == 0 %}
                        <a data-toggle='tooltip' data-placement='top' title='Bloqueado' class='btn btn-warning btn-sm' href="administracion/estado_user/{{ d.id_user }}">
                        <i class='glyphicon glyphicon-off'></i>
                        </a>

                    {% else %}
                        <a data-toggle='tooltip' data-placement='top' title='Activo' class='btn btn-danger btn-sm' href="administracion/estado_user/{{ d.id_user }}">
                        <i class='glyphicon glyphicon-check'></i>
                        </a>

                    {% endif %}

                  </td>
                </tr>
                {% set No =  No + 1 %}
              {% endfor %}
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'administracion/reset_pass_user' %}
{% endblock %}
{% block appScript %}
    <!-- DATA TABES SCRIPT -->
    <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>

    <script src="views/app/js/administracion/administracion.js"></script>

    <script>
     $("#dataTables1").dataTable({
                "language": {
                    "search": "Buscar:",
                    "zeroRecords": "No hay datos para mostrar",
                    "info":"Mostrando _END_ Registros, de un total de _TOTAL_ ",
                    "loadingRecords": "Cargando...",
                    "processing":"Procesando...",
                    "infoEmpty":"No hay entradas para mostrar",
                    "lengthMenu": "Mostrar _MENU_ Filas",
                    "paginate":{
                      "first":"Primera",
                      "last":"Ultima",
                      "next":"Siguiente",
                      "previous":"Anterior",
                    }
                              },
                "autoWidth": true,
                "scrollX": true
            });
    </script>

{% endblock %}
