{% extends 'portal/portal' %}
{% block appStylos %}
{% endblock %}
{% block appBody %}
    <section class="content-header">
        <h1>
            Confirmación
            <small>Editar Cuadrante</small>
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="confirmacion/mantenedores_crud_masters">Mantenedores</a></li>
        <li><a href="confirmacion/listar_cuadrante">Listado de Cuadrantes</a></li>
        <li class="active">Editar Cuadrante</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <form id="editar_cuadrante_form"  action="" method="POST">
              <div class="box-body col-sm-4"></div>
              <div class="box-body col-sm-4">
                <div class="form-group">
                  <input class="form-control" name="nombre_cuadrante" id="nombre_cuadrante" type="text" value="{{resultado_db.nombre}}" required/>
                  <input class="form-control" name="nodo" id="nodo" type="number" min='1' value="{{resultado_db.nodo}}" required/>
                  <input class="form-control" name="id_cuadrante" id="id_cuadrante" type="hidden" value="{{resultado_db.id_cuadrante}}"/>
                  <select class="form-control" name="comuna" id="comuna">
                    {% for d in comuna if false != comuna %}
                        {% if d.estado == 1 %}
                            {% if resultado_db.cod_comuna == d.nombre %}
                                <option value="{{d.nombre}}" selected="selected">{{d.nombre}}</option>
                            {% else %}
                                <option value="{{d.nombre}}">{{d.nombre}}</option>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                  </select>
                <div class="panel-footer text-center">
                  <button type="button" id="update_cuadrante" onclick="editar_cuadrante({{ resultado_db.id_cuadrante }});" class="btn btn-default">Grabar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

{% endblock %}
{% block appScript %}
    <script src="views/app/js/confirmacion/confirmacion.js"></script>
{% endblock %}
