
<header class="main-header">
    <!-- Logo -->
    <a href="portal" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">H<b>D</b>N</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">{{ config.site.name }} <b>ADMIN</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <!-- <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Tienes 0 mensajes</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <!-- <ul class="menu">

                            </ul>
                        </li>
                        <li class="footer"><a href="#">Ver todos los mensajes</a></li>
                    </ul>
                </li> -->
                <!-- Notifications: style can be found in dropdown.less -->
                <!-- <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Tienes 0 notificaciones</li>
                        <li> -->
                            <!-- inner menu: contains the actual data -->
                            <!-- <ul class="menu">

                            </ul>
                        </li>
                        <li class="footer"><a href="#">Ver todo</a></li>
                    </ul>
                </li> -->
                <!-- Tasks: style can be found in dropdown.less -->
                <!-- <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Tienes 0 tareas</li>
                        <li> -->
                            <!-- inner menu: contains the actual data -->
                            <!-- <ul class="menu">

                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">Ver todas las tareas</a>
                        </li>
                    </ul>
                </li> --> 
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      {% if owner_user['foto'] == 1 %}
                        <img src="views/app/images/avatares/{{ owner_user['name_foto'] }}" class="user-image" alt="User Image">
                      {% else %}
                        <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="user-image" alt="User Image">
                      {% endif %}

                        <span class="hidden-xs">{{ owner_user['name'] }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">

                            {% if owner_user['foto'] == 1 %}
                              <img src="views/app/images/avatares/{{ owner_user['name_foto'] }}" class="img-circle" alt="User Image">
                            {% else %}
                              <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle" alt="User Image">
                            {% endif %}
                            <p>
                                {{ owner_user['email'] }}
                                <small></small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="portal/perfil_usuario">Perfil</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#"></a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#"></a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat" data-toggle="modal" data-target="#resetpass">Reset Password</a>
                            </div>

                            <div class="pull-right">
                                <a href="logout" class="btn btn-default btn-flat">Salir</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->

            </ul>
        </div>
    </nav>
</header>
